{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">

        <section class="gh-pagehead">
            <h1 class="gh-pagehead-title">Latest</h1>
        </section>

        <div class="gh-topic gh-topic-grid">
            <div class="gh-topic-content gh-feed">
                {{#match pagination.page 2}}
                    {{#get "posts" include="authors" limit=@config.posts_per_page as |recent|}}
                        {{#foreach recent}}
                            {{> "loop-grid"}}
                        {{/foreach}}
                    {{/get}}
                {{/match}}
                {{#foreach posts}}
                    {{> "loop-grid" has_large_post=false}}
                {{/foreach}}
            </div>
        </div>

        <div class="gh-content">
            <h3>Testing featured posts x3</h3>
            {{> "featured-posts"}}
            {{> "featured-posts"}}
            {{> "featured-posts"}}

            <h3>Testing top tags x3</h3>
            {{> "popular-tags"}}
            {{> "popular-tags"}}
            {{> "popular-tags"}}

            <h3>Testing non-featured posts x3</h3>
            {{> "non-featured-posts"}}
            {{> "non-featured-posts"}}
            {{> "non-featured-posts"}}
        </div>
    </div>
</main>